<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
        rel="stylesheet">
<link
        rel="stylesheet"
        th:href="@{/css/pages/loginStyle.css}">


<div class="login-wrapper">
    <div class="login-card">
        <h2> Eventhub </h2>

        <form class="login-form" th:action="@{/auth/login}" method="post">

            <input class="login-input"
                    type="email"
                    name="username">
            <br>

            <input class="login-input"
                    type="password"
                    name="password">
            <br>

            <div class = "login-button">
                <button type="submit">
                    Entrar
                </button>
            </div>

        </form>
    </div>
</div>