<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Cadastro</title>
</head>

<body>

<h1>Cadastrar usuário</h1>

<form th:action="@{/auth/register}" th:object="${request}" method="post">

    <div>
        <label>Nome</label>
        <input type="text" th:field="*{name}">
        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
        </div>
    </div>

    <div>
        <label>Email</label>
        <input type="email" th:field="*{email}">
        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
        </div>
    </div>

    <div>
        <label>Senha</label>
        <input type="password" th:field="*{password}">
        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
        </div>
    </div>

    <button type="submit">
        Cadastrar
    </button>

</form>

</body>
</html>