<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Cadastro</title>
</head>

<body>

<h1>Cadastrar Evento</h1>

<form th:action="@{/events/register}" th:object="${request}" method="post">

    <div>
        <label>Nome</label>
        <input type="text" th:field="*{name}">
        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
        </div>
    </div>

    <div>
        <label>Descrição</label>
        <input type="text" th:field="*{description}">
        <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}">
        </div>
    </div>

    <div>
        <label>Início</label>
        <input type="datetime-local" th:field="*{startDate}">
        <div th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}">
        </div>
    </div>

    <div>
        <label>Fim</label>
        <input type="datetime-local" th:field="*{endDate}">
        <div th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}">
        </div>
    </div>

    <div>
        <label>Organizador</label>
        <select th:field="*{organizerId}">
            <option value="">Selecione um Organizador</option>
            <option
                th:each="user : ${users}"
                th:value = "${user.id}"
                th:text = "${user.name}">
            </option>
        </select>
        <div th:if="${#fields.hasErrors('organizerId')}" th:errors="*{organizerId}">
        </div>
    </div>


    <button type="submit">
        Cadastrar
    </button>

</form>

</body>
</html>