<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Cadastro</title>
</head>

<body>

<h1>Cadastrar Evento</h1>

<form th:action="@{/event/register}" th:object="${request}" method="post">

    <div>
        <label>Nome</label>
        <input type="text" th:field="*{name}">
    </div>

    <div>
        <label>Descrição</label>
        <input type="email" th:field="*{description}">
    </div>


    <button type="submit">
        Cadastrar
    </button>

</form>

</body>
</html>