<!DOCTYPE html>
<html layout:decorate="~{layout/base}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <body>

        <div layout:fragment="content">
            <section class="hero">

                <div class="hero-content">
                    <div class="circle c1"></div>
                    <div class="circle c2"></div>
                    <div class="circle c3"></div>

                    <h1>EventHub</h1>

                    <p>
                        Organize eventos, compartilhe informações e conecte
                        seus convidados através de um único QR Code.
                    </p>

                    <div class="hero-buttons">

                        <button>Criar Evento</button>

                        <button class="secondary">
                            Saiba mais
                        </button>

                    </div>

                </div>

            </section>
            <br>
            <div class="welcome">
                <h2>
                    Eventos de
                    <span th:text="${loggedUser.name}"></span>
                </h2>
            </div>



            <div th:if="${#lists.isEmpty(events)}">
                <h2>Você ainda não possui eventos.</h2>

                <a th:href="@{/events/register}">
                    Criar primeiro evento
                </a>
            </div>

            <div th:unless="${#lists.isEmpty(events)}">

                <div class="event-grid">

                    <div class="card-wrapper" th:each="event : ${events}">
                        <div class="event-cover"></div>
                        <div class="card-title">
                            <h3 th:text="${event.name}"></h3>
                        </div>
                        <div class="event-card">
                            <span class="date-badge" th:text="${#temporals.format(event.startDate,'dd/MM/yyyy')}">
                            </span>

                            <p th:text="${event.description}"></p>

                            <a class="manage-btn" th:href="@{/events/{id}(id=${event.id})}">
                                Gerir →
                            </a>

                        </div>
                    </div>

                </div>

            </div>

        </div>
        <script src="/js/script.js"></script>
    </body>

</html>







