/*RESET E ESTILOS GLOBAIS*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{

    text-decoration: none;

    color: inherit;

}

button{

    cursor: pointer;

    border: none;

    border-radius: var(--radius-sm);

    background: var(--primary);

    color: var(--text-light);

    padding: .8rem 1.4rem;

    transition: .2s;

}
button:hover{

    background: var(--primary-hover);

}
input{

    width: 100%;

    padding: .8rem;

    border: 1px solid var(--border);

    border-radius: var(--radius-sm);

}
.container{

    width: min(1200px, 90%);

    margin: 0 auto;

}

html{
    font-family: "Inter", sans-serif;
    background-color: var(--background);
}





/*============= Estilização do app =================*/


/*========== Dashboard (geral) ==============*/
.welcome h2{
    text-align: center;
}


