/*RESET E ESTILOS GLOBAIS*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{

    text-decoration: none;

    color: inherit;

}

button{

    cursor: pointer;

    border: none;

    border-radius: var(--radius-sm);

    background: var(--primary);

    color: var(--text-light);

    padding: .8rem 1.4rem;

    transition: .2s;

}
button:hover{

    background: var(--primary-hover);

}
input{

    width: 100%;

    padding: .8rem;

    border: 1px solid var(--border);

    border-radius: var(--radius-sm);

}
.container{

    width: min(1200px, 90%);

    margin: 0 auto;

}

html{
    font-family: "Inter", sans-serif;
    background-color: var(--background);
}





/*============= Estilização do app =================*/

.navbar{

    height:72px;

    background:var(--surface);

    border-bottom:1px solid var(--border);

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 2rem;

    box-shadow:var(--shadow-sm);

}

.logo{

    display:flex;

    align-items:center;

    gap:.6rem;

    font-size:1.4rem;

    font-weight:700;

}

.logo-icon{

    width:18px;

    height:18px;

    border-radius:50%;

    background:var(--primary);

}

.logo-text{

    color:var(--primary);

}

.navbar-right{

    display:flex;

    align-items:center;

    gap:1.5rem;

}

.notification-btn{

    background:none;

    border:none;

    font-size:1.2rem;

    cursor:pointer;

    padding:.5rem;

}

.notification-btn:hover{

    transform:scale(1.1);

}

.user-menu{

    display:flex;

    align-items:center;

    gap:.8rem;

    cursor:pointer;

    padding:.5rem .8rem;

    border-radius:var(--radius-md);

    transition:.2s;

}

.user-menu:hover{

    background:#f6f6f6;

}

.avatar{

    width:38px;

    height:38px;

    border-radius:50%;

    background:var(--primary);

    color:white;

    display:flex;

    justify-content:center;

    align-items:center;

    font-weight:700;

}

.user-name{

    font-weight:600;

    color:var(--text-primary);

}

.arrow{

    font-size:.8rem;

    color:var(--text-secondary);

}



/*========== Dashboard (geral) ==============*/
.welcome h2{
    text-align: center;
}


