
/*=============== BANNER DASHBOARD ===============*/
.hero{

    position: relative;

    overflow: hidden;

    min-height: 420px;

    display:flex;

    justify-content:center;

    align-items:center;

    text-align:center;

    background: linear-gradient(
            135deg,
            var(--primary),
            var(--primary-light)
    );

}

.hero-content{

    position:relative;

    z-index:2;

    width:min(700px,90%);

}

.hero h1{

    color:white;

    font-size:3.8rem;

    font-weight:700;

}


.hero p{

    margin-top:20px;

    color:white;

    opacity:.9;

    font-size:1.2rem;

    line-height:1.7;

}

.hero-buttons{

    margin-top:35px;

    display:flex;

    justify-content:center;

    gap:15px;

    flex-wrap:wrap;

}
.hero-buttons .secondary:hover{
    color: white;
}

.secondary{

    background:white;

    color:var(--primary);

}

.hero::before{

    content:"";

    position:absolute;

    width:420px;

    height:420px;

    background:white;

    opacity:.12;

    border-radius:50%;

    filter:blur(50px);

    top:-120px;

    left:-120px;

}

.hero::after{

    content:"";

    position:absolute;

    width:500px;

    height:500px;

    background:white;

    opacity:.08;

    border-radius:50%;

    filter:blur(60px);

    right:-150px;

    bottom:-180px;

}

.hero{

    background-image:

            linear-gradient(
                    135deg,
                    var(--primary),
                    var(--primary-light)
            ),

            linear-gradient(
                    rgba(255,255,255,.05) 1px,
                    transparent 1px
            ),

            linear-gradient(
                    90deg,
                    rgba(255,255,255,.05) 1px,
                    transparent 1px
            );

    background-size:

            auto,

            50px 50px,

            50px 50px;

}

.circle{

    position:absolute;

    border-radius:50%;

    background:rgba(255,255,255,.15);

    backdrop-filter:blur(5px);

}

.c1{

    width:120px;

    height:120px;

    top:40px;

    left:12%;

}

.c2{

    width:70px;

    height:70px;

    right:15%;

    bottom:60px;

}

.c3{

    width:180px;

    height:180px;

    top:50%;

    right:-60px;

}

@keyframes float{

    0%{

        transform:translateY(0px);

    }

    50%{

        transform:translateY(-18px);

    }

    100%{

        transform:translateY(0px);

    }

}

.circle{

    animation:float 7s ease-in-out infinite;

}